language: go
go:
  - "1.12.x"
go_import_path: code.cloudfoundry.org/cli-plugin-repo
install:
  - go get -v github.com/onsi/ginkgo/ginkgo
script: BINARY_VALIDATION=true bin/test --compilers=2
branches:
  only:
  - master
